<footer class="footer">
	
	<div class="wrapper">
		<h5 id="navigation-bottom">What do you want to know more about?</h5>
		
		<nav>
			{{#foreach navigation}}
			<a class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation" href="{{url absolute="true"}}">{{label}}</a><span>&nbsp;&nbsp;·&nbsp;&nbsp;</span>
			{{/foreach}}
		</nav>
		
		<section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
		<section class="poweredby">Proudly publishing using <a href="https://ghost.org" target="_blank">Ghost</a> & <a href="https://github.com/starburst1977/readium" target="_blank">Readium</a></section>
	</div>
	
</footer>