
{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}


<div class="teaserimage">
    <div class="teaserimage-image" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}" style="background-image: url({{@blog.logo}})">{{@blog.title}}</a>{{/if}}
    <h1 class="blog-title">{{@blog.title}}</h1>
    <h2 class="blog-description">{{@blog.description}}</h2>
    <div class="custom-links">
        <a href="https://twitter.com/MarkReadM" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
        <a href="https://plus.google.com/113570202169808481097/posts" target="_blank"><i class="fa fa-google-plus"></i></a>&nbsp;&nbsp;
        <a href="https://www.pinterest.com/markreadM/" target="_blank"><i class="fa fa-pinterest"></i></a>&nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="/aboutme/">Über mich</a>&nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="/veroffentlichungen/">Veröffentlichungen</a>&nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="/alles-ausser-sprachkritik/">Sprachkritik</a>
    </div>
</header>

<script>
    (function ($) {
        "use strict";

        $(document).ready(function(){

            var $window = $(window),
                $image = $('.teaserimage-image');
            $window.on('scroll', function() {
                var top = $window.scrollTop();

                if (top < 0 || top > 1500) { return; }
                $image
                    .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
                    .css('opacity', 1-Math.max(top/700, 0));
            });
            $window.trigger('scroll');

        });

    }(jQuery));
</script>

{{! The main content area on the homepage }}
<main class="content" role="main">

    <h5 class="index-headline featured"><span>Featured</span></h5>

    <div class="container featured">
        {{#foreach posts}}
            {{#if featured}}
                <article class="{{post_class}}" itemscope itemtype="http://schema.org/BlogPosting" role="article">
                    <div class="article-item">
                        <header class="post-header">
                            <h2 class="post-title" itemprop="name"><a href="{{url}}" itemprop="url">{{{title}}}</a></h2>
                        </header>
                        <section class="post-excerpt" itemprop="description">
                            <p>{{excerpt characters="130"}}&hellip;</p>
                        </section>
                        <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span></div>
                    </div>
                </article>
            {{/if}}
        {{/foreach}}
    </div>


    <h5 class="index-headline normal"><span>Regular</span></h5>

    <div class="cf frame">
    {{#foreach posts}}
        {{#if featured}}
        {{else}}
            <article class="{{post_class}}" itemscope itemtype="http://schema.org/BlogPosting" role="article">
                <div class="article-item">
                    <header class="post-header">
                        <h2 class="post-title" itemprop="name"><a href="{{url}}" itemprop="url">{{{title}}}</a></h2>
                    </header>
                    <section class="post-excerpt" itemprop="description">
                        <p>{{excerpt characters="130"}}&hellip;</p>
                    </section>
                    <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> <span class="post-tags-set">on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}}</span></div>
                </div>
            </article>
        {{/if}}
    {{/foreach}}
    </div>


    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>

<footer class="site-footer">
    <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip"> Subscribe!</span></a>
    <div class="inner">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org"> Ghost</a></section>
    </div>
</footer>