{{!< default}}

<header class="sidebar" id="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div id="site-head-content" class="sidebar__inner">
        <section class="sidebar__information">
            <div class="sidebar__userimage" style="background-image: url({{@blog.logo}})"></div>
            <h1 class="sidebar__information__title">{{@blog.title}}</h1>
            <h2 class="sidebar__information__description">{{@blog.description}}</h2>
            <div class="sidebar__customlinks">
                <a href="/aboutme/">About me</a> · <a href="/readium-ghost-theme/">Readium</a> · <a href="/marisa-ghost-theme/">Marisa</a> · <a href="/chiara/">Chiara</a>
            </div>
            <footer class="sidebar__information__footer">
                <a href="https://twitter.com/mystical_team" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/mystically" target="_blank"><i class="fa fa-github"></i></a>
                <a href="http://dribbble.com/Starburst1977" target="_blank"><i class="fa fa-dribbble"></i></a>
            </footer>
        </section>
    </div>
</header>
<main class="contentlist" role="main">
    <section class="contentlist__inner">
        <div class="contentlist__featured">
            {{#foreach posts}}
                {{#if featured}}
                    <h4 class="contentlist__headline">Featured</h4>
                    <article class="contentlist__article {{post_class}} featured" itemscope itemtype="http://schema.org/BlogPosting" role="article">
                        <header class="post-header">
                            <div class="contentlist__article__userimage user-image" style="background-image: url({{author.image}})"></div>
                            <h2 class="contentlist__article__headline post-title" itemprop="name"><a href="{{url}}" itemprop="url">{{{title}}}</a></h2>
                        </header>
                        <section class="contentlist__article__excerpt post-excerpt" itemprop="description">
                            <p>{{excerpt characters="200"}}&hellip; <a href="{{url}}" itemprop="url">Read more.</a></p>
                        </section>
                        <span class="contentlist__article__meta post-meta">
                            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>&nbsp;&nbsp;·&nbsp;&nbsp;<span class="ttr"></span>
                            {{#if tags}}&nbsp;&nbsp;·&nbsp;&nbsp;{{author.name}} on {{tags}}{{/if}}

                        </span>
                    </article>
                {{/if}}
            {{/foreach}}
        </div>
        <h4 class="contentlist__headline">Regular</h4>
        {{#foreach posts}}
            {{#if featured}}
            {{else}}
                <article class="contentlist__article {{post_class}}" itemscope itemtype="http://schema.org/BlogPosting" role="article">
                    <header class="post-header">
                        <div class="contentlist__article__userimage user-image" style="background-image: url({{author.image}})"></div>
                        <h2 class="contentlist__article__headline post-title" itemprop="name"><a href="{{url}}" itemprop="url">{{{title}}}</a></h2>
                    </header>
                    <section class="contentlist__article__excerpt post-excerpt" itemprop="description">
                        <p>{{excerpt characters="250"}}&hellip; <a href="{{url}}" itemprop="url">Read more.</a></p>
                    </section>
                    <section class="contentlist__full">
                        {{body}}
                    </section>
                    <span class="contentlist__article__meta post-meta">
                        <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>&nbsp;&nbsp;·&nbsp;&nbsp;<span class="ttr"></span>
                        {{#if tags}}&nbsp;&nbsp;·&nbsp;&nbsp;{{author.name}} on {{tags}}{{/if}}
                    </span>
                </article>
            {{/if}}
        {{/foreach}}
        <div class="contentlist__pagination">
            {{pagination}}
        </div>
        <footer class="footer site-footer">
            <a class="subscribe icons-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
            <div class="inner">
                 <section class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</section>
                 <section class="poweredby">Proudly published with <a class="icons-ghost" href="http://ghost.org" target="_blank">Ghost</a></section>
            </div>
        </footer>
    </section>
</main>