{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}


<main class="content" role="main">
    <article class="{{post_class}}">
        <div class="wrapper-background">

            {{#if image}}
            <header class="highlight-header post-head" style="background-image: url({{image}})">
                test
            </header>
            {{else}}
            <br><br><br><br>
            {{/if}}

            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>
            </header>
        </div>
        <div class="wrapper-content">

            <h2 class="article-spacer"><span>&#10020;</span></h2>

            <section class="post-content">
                {{content}}
            </section>

            <h2 class="article-spacer"><span>&#10020;</span></h2>

        </div>


    </article>
</main>

{{/post}}
