{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}



<main class="content contentpost" role="main">

    {{! Each post has the blog logo at the top, with a link back to the home page }}
    <header class="post-header contentpost__logo {{#if @blog.logo}}contentpost__logo__img_black_background{{/if}}">
        <a id="blog-logo" href="/">
            {{#if @blog.logo}}
                <img src="{{@blog.logo}}" alt="Blog Logo" />
            {{else}}
                {{@blog.title}}
            {{/if}}
        </a>
    </header>

    <article class="contentpost__inner {{post_class}}">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        {{! Everything below outputs content of the the post which has been published }}

        <div class="contentpost__sidebar">
            <section class="contentpost__author cf">
                <div class="contentpost__userimage" style="background-image: url({{author.image}})"></div>
                <h4>{{author.name}}</h4>
                <p>{{author.bio}}</p>
            </section>
            <div class="cf">
                <hr>
            </div>
            <section class="contentpost__sidebar__meta cf">
                <h5>Published:</h5><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>
            </section>
        </div>

        <span class="contentpost__meta"> {{#if tags}}In {{tags separator=" | "}}{{/if}}</span>

        <h1 class="contentpost__headline post-title">{{{title}}}</h1>

        <section class="contentpost__articlecontent post-content">
            {{content}}
        </section>

        <footer class="contentpost__footer post-footer">

            <section class="share">
                <a class="icon-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

            <div class="contentpost__footerbar">
                <div class="contentpost__userimage" style="background-image: url({{author.image}})"></div>
                <section class="contentpost__author cf">
                    <h4>{{author.name}}</h4>
                    <p>{{author.bio}}</p>
                </section>
                <section class="contentpost__sidebar__meta cf">
                    <h5>Published:</h5><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>
                </section>
            </div>

        </footer>

        {{/post}}

    </article>

</main>